/* dark by default */

:root {
  --color-bg: #0f111a;
  --color-fg: #ffffff;
  --color-bs: #ffb626;

  --yellow: #ffb626;
  --red: #f11012;

  --max-width: 800px;

  --bg-tile: "./bg_stars.gif";
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-fg: #0f111a;
    --color-bs: #f11012;

    --bg-tile: "./bg_squiggle.gif";
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}

body {
  background-color: var(--color-bg);
  background-image: url("bg_stars.gif");
  background-repeat: repeat;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url("bg_squiggle.svg");
  }
}

.stream {
  aspect-ratio: 16/9;
  max-width: var(--max-width);
  margin: auto;
}

.stream__titleContainer {
  display: block;
  background-color: var(--color-bg);
  padding: 1rem;
  max-width: var(--max-width);
  margin: 4rem auto 4rem auto;
  border: 0.25rem solid var(--yellow);
  box-shadow: 0.4rem 0.4rem 0 0 var(--red);
}

.stream__title {
  display: block;
  font-size: clamp(1.6rem, 3vw, 4rem);
  text-align: center;
  color: var(--color-fg);
  font-weight: bold;
}

#twitch-embed {
  height: 100%;
}

.footer {
  text-align: center;
  max-width: var(--max-width);
  margin: 4rem auto;
  background-color: var(--color-bg);
  padding: 1rem;
}

.footer__text {
  color: var(--color-fg);
  font-size: 1rem;
}
